<div class="container">
  <h1>Générateur de QR Code</h1>
    <%= form_with url: qrcodes_path, method: :post, local: true do %>
      <div>
        <%= label_tag :url, "Entrez l'URL :" %>
        <%= text_field_tag :url, nil, required: true %>
      </div>
      <div>
        <%= submit_tag "Générer le QR Code", class: "btn-black"%>
      </div>
  <% end %>

  <div id="qr_code">
    <!-- Le QR code généré sera inséré ici -->
  </div>
</div>
