// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/new";

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  justify-content: center;
}

h1{
  color: white;
}
label{
  color: white;
}

body {
  margin: 0;
  }

  canvas {
  display: block;
  position:absolute;
  top:0;
  left:0;
  z-index: -1;
  }

  form {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
.btn-black{
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  // cursor: pointer;
  margin-top: 10px;
  border: solid;
  border-width: 0.2px;
  border-color: #11a105;
}
